@model dynamic
@using Umbraco.Web.Templates

<div class="statistics">
    <div class="stat">
        <span>@Model.value.stat1</span>
        <p>@Model.value.text1</p>
    </div>
    <div class="stat">
        <span>@Model.value.stat2</span>
        <p>@Model.value.text2</p>
    </div>
</div>