@using umbraco.NodeFactory;
@model Umbraco.Web.Models.RenderModel
@{
    int id = (int)Umbraco.Web.UmbracoContext.Current.PageId;
    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(id);
    int[] pathArray = content.Path.Split(',').Select(n => int.Parse(n)).ToArray();

    }

    <ul id="breadcrumbs">
        @foreach (int itemId in pathArray)
        {
            if (itemId == -1)
            {
                continue;
            }

                
            IPublishedContent item = umbracoHelper.TypedContent(itemId);

           <li class="@item.IsAncestorOrSelf(item, "active", "")">> <a href="@item.Url">@item.Name</a></li>
        }
    </ul>
