<div class="social-links">
    <span>Follow us:</span>
    <div>
        <a href="https://www.facebook.com/???" class="facebook" target="_blank"></a>
        <a href="https://twitter.com/???" class="twitter" target="_blank"></a>
        <a href="http://www.youtube.com/user/???" class="youtube" target="_blank"></a>
        <a href="http://www.linkedin.com/company/???" class="linkedin" target="_blank"></a>
    </div>
</div>