<div ng-controller="AccordionEditorController">
    <div class="accordion">
        <div ng-repeat="item in control.value track by $index" class="accordion-pane" pane-editor-control>
            <div select-on-focus class="title">
                <textarea rows="1"
                          class="textstring input-block-level" id="{{control.uniqueId}}_text{$index}"
                          ng-model="control.value[$index].title"
                          ng-attr-style="{{control.editor.config.style}}" placeholder="Heading"></textarea>

            </div>
            <div class="content">
                <div unique-id="'content'+$index" value="control.value[$index].content" grid-rte configuration="model.config.rte"></div>
            </div>
            <div class="accordion-controls">
                <div class="up" ng-show="canMoveUp($index)" ng-click="moveUp($index)">Up</div>
                <div class="down" ng-show="canMoveDown($index)" ng-click="moveDown($index)">Down</div>
                <div ng-click="remove($index)">remove</div>
            </div>
        </div>
    </div>

    <div class="btn btn-default btn-sm" ng-click="addNewPane()">Add New Pane</div>
</div>
