@inherits Umbraco.Web.Mvc.UmbracoViewPage<BaseModel>
<nav class="footer-navigation">
    <ul>
        @foreach (var c in Model.FooterNavigation)
        {
            <li>
                <a href="@c.Url">@c.Name</a>
            </li>
        }
    </ul>
</nav>