@inherits Umbraco.Web.Mvc.UmbracoViewPage<BaseModel>
<form action="@Umbraco.NiceUrl(1252)" class="search-box">
    <label>Search:</label>
    <input type="text" name="term" placeholder="Search" />
    <input type="submit" class="arrow-link" />
</form>