@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title = Model.MacroParameters["title"];
    var text = Model.MacroParameters["text"];
}

<div class="breakout-text">
    <h3>@title</h3>
    <p>@text</p>
</div>