@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{    
    var title = Model.MacroParameters["title"].ToString();
    var text = Model.MacroParameters["text"].ToString();
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"].ToString());
}

<div class="macro-image">
    <div class="image">
        <img alt="@title" src="@image.GetCropUrl(100,100)" />
    </div>
    <div class="content">
        <h4>@title</h4>
        <p>@text</p>
    </div>
</div>
