@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{    
    var title = Model.MacroParameters["title"];
    var text = Model.MacroParameters["text"];
    string id = Umbraco.GetYouTubeId(Model.MacroParameters["url"].ToString());
}

<div class="macro-video-wrap">
    <div class="video">
        <div class="video-outer">
            <iframe width="560" height="315" src="//www.youtube.com/embed/@id" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="content">
        <h4>@title</h4>
        <p>@text</p>
    </div>
</div>